<html language="pt-br">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="Style/login.css"/>
    <script type="module">
      import { Gradient } from './Gradient.js'
      const gradient = new Gradient()
      gradient.initGradient('#gradient-canvas')
    </script>
    <title>Login</title>
  </head>
  <body>
    <canvas id="gradient-canvas" data-transition-in="" data-v-79abd109=""> </canvas>
    <div id="holder">
      <p id="logo"> RITSU </p> 
      <p id="brand"> — Renewed Integrated Dynamics </p>
      <p class="login">Login </p>
    </div>
  </body>
</html>